* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color:#414141;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

header {
    padding: 40px;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin:10px 0px;
}

p {
    margin:5px 0px;
}

img {
    width: 275px;
    height: 275px;
}

section {
    padding: 20px;
}