* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color:#414141;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

header {

}

main {
    /*padding: 50px;*/
}

img {
    width: 275px;
    height: 275px;
}

section {
    padding: 20px;
}